body {
  background-color: #00a8e8;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: large;
}

#container {
  margin: 51px auto;
  display: flex;
  flex-direction: column;
  width: 1199px;
  height: 861px;
  justify-content: center;
  align-items: center;
}

#box {
  background-color: #00171f;
  border: 8px solid #ffffff;
  border-radius: 40px;
  width: 650px;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.boxItem {
  width: 485px;
  margin-bottom: 44px;
}

.line {
  margin: 0px 0;
  font-size: 50px;
  font-weight: bold;
}
#line1 {
  color: rgba(255, 255, 255, 1);
}
#line2 {
  color: rgba(0, 168, 232, 1);
}
#line3 {
  color: rgba(0, 126, 167, 1);
  font-weight: 100;
  font-size: 27px;
}

#properties {
  font-weight: 800;
}
#sliderTxt {
  margin: 0 0 3px 0;
}
#passwordSizeInput {
  width: 485px;
  margin: 0px;
  accent-color: rgba(0, 168, 232, 1);
}

.checkboxGroup {
  display: flex;
  width: 485px;
  justify-content: space-between;
}
.checkboxInputAndTitle {
  display: flex;
  width: 200px;
  justify-content: left;
}
.inputCheckbox {
  width: 20px;
  margin: 0 30px 0 0;
}

button {
  font-size: 25px;
  font-weight: bold;
  color: inherit;
  background-color: rgba(0, 168, 232, 1);
  border: none;
  border-radius: 9px;
  padding: 12px 17px;
}

#generatePasswordTxt {
  text-align: center;
  color: inherit;
  font-weight: 800;
  font-size: larger;
  color: rgba(0, 168, 232, 1);
  margin: 0;
}

#toast {
  color: white;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.3s;
  margin-top: -95px;
  text-align: center;
}
.toast-hidden {
  opacity: 0;
  pointer-events: none;
}
.toast-visible {
  opacity: 1;
}

#note {
  color: red;
  font-size: small;
  text-align: center;
  margin: 18px 0 0 0;
}
